
/* RESET */



*{
    margin: 0;
    box-sizing: border-box;
}


/* GENERAL */

i{
    color: grey;
    opacity: 0.6;
    margin-right: 20px;
}

.p_relative{
    position: relative;
}

.hour_absolute{
    position: absolute;
    top: 0px;
    right: 0px;
}

.text_bar{
    position: absolute;
    bottom: 0px;
    left: 0px;
}


.main_bg{
    background: linear-gradient(180deg, rgba(49,187,149,1) 33%, rgba(231,227,214,1) 33%);
    background-repeat: no-repeat;
    height: 100vh;
}

.bg_white{
    background-color: white;
}

.circle_border{
    border-radius: 50%;
}

.user_msg{
    text-align: end;
}

.user_msg > span{
    background-color: rgb(163, 223, 163);
    padding: 10px;
    border-radius: 50px ;
}

.bot_msg > span{
    background-color: white;
    padding: 10px;
    border-radius: 50px ;
}



/* DEBUG */


.debug .container .row > *{
    background-color: lightcoral !important; 
    outline: 3px dashed black;
}

.debug .container{
    margin-top: 100px;
}

.debug > .container > .row{
    height: 100%;
}

.debug > .container > .row > .bg_white{
    height: 100%;
}