<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Boolzapp</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="./css/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap-grid.min.css" integrity="sha512-EAgFb1TGFSRh1CCsDotrqJMqB2D+FLCOXAJTE16Ajphi73gQmfJS/LNl6AsjDqDht6Ls7Qr1KWsrJxyttEkxIA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js" integrity="sha512-uMtXmF28A2Ab/JJO2t/vYhlaa/3ahUOgj1Zf27M5rOo8/+fcTUVH0/E0ll68njmjrLqOBjXM3V9NiPFL5ywWPQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>

<body class="main_bg debug">

    <div id="app">   
        <main>
            <div class="_container">
                <!-- left-side -->
                <aside>
                    <header>
                        <div class="user_info">
                            <div class="d-flex justfy-content-center align-items-center p-3">
                                <img class="profile_pic" src="./img/avatar_io.jpg" alt="immagine profilo">
                                <p class="ms-2">Sofia</p>
                            </div>
                            <div class="pe-2">
                                <a href=""><i class="fa-solid fa-circle-notch"></i></i></a>
                                <a class="mx-3" href=""><i class="fa-solid fa-message"></i></a>
                                <a href=""><i class="fa-solid fa-ellipsis-vertical"></i></a>
                            </div>
                        </div>
                        <div class="notifications p-3">
                            <i class="fa-solid fa-bell-slash bg_white circle_border notifications_icon"></i>
                            <div class="ms-2">
                                <p>Ricevi notifiche di nuovi messaggi</p>
                                <a href="">attiva le notifiche per desktop</a>
                            </div>
                        </div>
                    </header>
                    <main class="aside-main">
                        <div class="contact-search  d-flex">
                            <div>
                                <i class="fa-solid fa-magnifying-glass me-2"></i>
                            </div>
                            <div class="aside-bar flex-grow-1">
                                <input type="text" placeholder="cerca tra i contatti">
                            </div>
                        </div>
                        <div class="contacts">
                            <div @click="displayContact(i)" class="contact" v-for="(contact,i) in contacts" :class="{'active' : i == contactIndex}">
                                <img class="profile_pic" :src="contact.avatar" :alt="contact.name">
                                <div class="ms-2 py-4">
                                    <p>{{contact.name}}</p>
                                </div>
                            </div>
                        </div>
                        

                    </main>
                </aside>
                <!-- right-side -->
                <section>
                    <header>
                        <div class="user_info">
                            <div class="d-flex justfy-content-center align-items-center p-3">
                                <img class="profile_pic" :src="contacts[contactIndex].avatar" :alt="contacts[contactIndex].name">
                                <div class="ms-2">
                                    <p>{{contacts[contactIndex].name}}</p>
                                    <p>{{contacts[contactIndex].date}}</p>
                                </div>
                            </div>
                            <div class="pe-4">
                                <a href=""><i class="fa-solid fa-magnifying-glass"></i></a>
                                <a class="mx-3" href=""><i class="fa-solid fa-paperclip"></i></a>
                                <a href=""><i class="fa-solid fa-ellipsis-vertical"></i></a>
                            </div>
                        </div>
                    </header>
                    <main>
                        <div class="chat-container">
                            <template  v-for="message in contacts[contactIndex].messages">
                                <div v-if="message.status == 'sent'" class="msg mb-2 sent">
                                    {{message.message}}
                                    <span>
                                        {{message.date}}
                                    </span>
                                </div>

                                <div v-else="message.status == 'received'" class="msg mb-2 received">
                                    {{message.message}}
                                    <span>
                                        {{message.date}}
                                    </span>
                                </div>
                            </template>
                            <!-- <div class="msg sent">luca</div>
                            <div class="msg received">dimmi</div> -->
                        </div>
                    </main>
                    <footer> 
                        <div class="me-2">
                            <a href=""><i class="fa-regular fa-face-smile"></i></a>
                        </div>
                        <div class="flex-grow-1">
                            <input @keyup.enter="sendMsg()" type="text" placeholder="Scrivi un messaggio..." v-model="newMessage">
                        </div>
                        <div class="ms-2">
                            <a href="">
                                <i class="fa-solid fa-microphone"></i>
                            </a>
                        </div>
                    </footer>
                </section>
            </div>

        </main>
    </div>

    <script src='https://unpkg.com/vue@3/dist/vue.global.js'></script>
    <script src="./js/script.js"></script>
</body>

</html>


